---
// modtag page som prop
const { page } = Astro.props;

// Vælg baggrundsfarve baseret på siden
const backgroundColor =
  {
    index: "bg-alle-50",
    event: "bg-gron-200",
    is: "bg-rod-50",
    omos: "bg-gul-400",
    kontakt: "bg-blaa-100",
    tak: "bg-rod-50",
    NB: "bg-gul-100",
  }[page] || "bg-slate-200"; // Standardfarve hvis page ikke matcher
---
<div
  x-data="{ showmenu: false }"
  class={`p-4 lg:static w-full ${backgroundColor}`}
>
<div
  class="font-worksans max-w-screen-xl mx-auto text-black flex justify-between p-5   class={`p-4 lg:static w-full ${backgroundColor}`}
"
>
  <a href="/">TILLYKKE</a>
  <a href="/OMOS">OM OS</a>
  <a href="/15">D. 15</a>
  <a href="/linus">LINUS</a>
  <a href="/gaven">GAVEN</a>
</div>
</div>
